<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<div>
    <strong>Панель администратора</strong>
</div>
<div>
    <ul>
        <li><a href="/admin/usersInfo">Краткая сводка обо всех клиентах</a></li>
        <li>Список всех транзакций</li>
        <li><a href="/admin/userSearch">Поиск пользователя</a></li>
    </ul>
</div>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Выход">
    </form>
</div>
</body>
</html>