<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank Application</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${error}">
    Неккоректно введены данные
</div>
<p>Впервые здесь? нажимай
    <a th:href="@{/registration}">сюда</a> для регистрации.</p>
<form method="POST" th:action="@{/login}" id="loginForm">
    <label for="username">Логин: </label>
    <input type="text" name="username" id="username" /><br/>
    <label for="password">Пароль: </label>
    <input type="password" name="password" id="password" /><br/>
    <input type="submit" value="Войти"/>
</form>
</body>
</html>