<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank Application</title>
</head>
<body>
<h1>Регистрация</h1>
<form method="POST" th:action="@{/registration}" id="registerForm">
    <label for="username">Логин: </label>
    <input type="text" name="username"/><br/>
    <label for="password">Пароль: </label>
    <input type="password" name="password"/><br/>
    <label for="fullname">ФИО: </label>
    <input type="text" name="fullname"/><br/>
    <label for="card_Number">Номер карты: </label>
    <input type="text" name="card_Number"/><br/>
    <label for="card_Expiration">Срок действия: </label>
    <input type="text" name="card_Expiration"/><br/>
    <label for="card_CVV">CVV: </label>
    <input type="text" name="card_CVV"/><br/>
    <input type="submit" value="Регистрация"/>
</form>
</body>
</html>
