<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
</head>
<body>
<div>
  <strong>Добро пожаловать, </strong>
  <strong th:text="${username}">Пользователь </strong>
  <strong>!</strong>
</div>
<div>
  <ul>
    <li><a href="/userMain/currentUserInfo">Информация о счете</a></li>
    <li>История переводов</li>
    <li><a href = "/userMain/transfer">Перевести средства</a></li>
  </ul>
</div>
<div>
  <form action="/logout" method="post">
    <input type="submit" value="Выход">
  </form>
</div>
</body>
</html>